@font-face {
    font-family: 'nav-style';
    src: url('../font/ggantitahun-bwz8b.ttf');
}
*{
    padding: 0;
    margin: 0;
}
nav{
    font-family: 'nav-style';
    display: flex;
    padding:0px 20px;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
nav h3{
    padding: 10px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
nav ul li{
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}
nav ul li:hover{
    background-color: aqua;
    color:white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;
}
main img{
    width: 72%;
}


@media screen and (max-width:700px) {
    nav{
        display: block;
        padding:0px;
    }
    nav ul{
        display: block;
    }
    nav ul li{
    }
    nav h3{
        text-align: center;
        padding: 2px 0px;
    }

}