@font-face {
    font-family: 'nav-style';
    src: url('../font/ggantitahun-bwz8b.ttf');
}
*{
    padding: 0;
    margin: 0;
}
p{
    word-break:break-all;
    text-align: left;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
body{
    padding:0px 20px;
}
nav{
    font-family: 'nav-style';
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: white;
}
nav h3{
    padding: 10px 20px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
nav ul li{
    list-style: none;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}
nav ul li:hover{
    background-color: aqua;
    color:white;
}


main{
    padding: 10px 50px;
    position: absolute;
    bottom: 20px;
}


main .content_box{
    padding:20px 0px;
}
main .content_box h2{
    background: antiquewhite;
    padding: 7px 12px;
}
main .content_box .flex_img{
    display: flex;
    margin:20px 0px;
}
main .content_box .flex_img li{
    list-style: none;
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
main .content_box .flex_img li img{
    cursor: pointer;
    margin-bottom: 5px;
}
main .content_box .flex_img li p{
    text-align: center;
}

@media screen and (max-width:900px) {
    main{
        position: relative;
        font-size: xx-small;
    }
}


@media screen and (max-width:700px) {
    nav{
        display: block;
        padding:0px;
        width: 91%;
        position:relative;
        margin-top: 20px;
    }
    nav ul{
        display: block;
    }
    nav ul li{
    }
    nav h3{
        text-align: center;
        padding: 2px 0px;
    }
    
    main{
        position: relative;
        font-size:0.3em;
    }
    main .content_box .flex_img li{
        padding: 2px;
    }
    main .content_box .flex_img li img{
        margin-bottom: 1px;
    }

}


